<!--==================== CONTACT ME ====================-->
<section class="contact section" id="contact">
  <h2 class="section__title">Contact</h2>
  <span class="section__subtitle">Contactez-moi</span>

  <div class="contact__container container grid">
    <div>
      <div class="contact__information">
        <i class="fas fa-phone contact__icon"></i>

        <div>
          <h3 class="contact__title">Téléphone</h3>
          <span class="contact__subtitle">07 69 16 74 65</span>
        </div>
      </div>

      <div class="contact__information">
        <i class="fas fa-at contact__icon"></i>

        <div>
          <h3 class="contact__title ">Email</h3>
          <span class="contact__subtitle">fidendev@gmail.com</span>
        </div>
      </div>

      <div class="contact__information">
        <i class="fa-solid fa-location-dot contact__icon"></i>

        <div>
          <h3 class="contact__title">Localisation</h3>
          <span class="contact__subtitle">Nantes - France</span>
        </div>
      </div>
    </div>

    <% if flash[:notice] %>
      <div class="">
        <h2><%= flash[:notice] %></h2>
        <p>❤️ Merci d'avoir pris le temps de remplir ce formulaire. ❤️</p>
      </div>
    <% end %>

    <div class='contact-request__form'>
      <%= simple_form_for @contact_request  do |f| %>
        <div class="form__information">
          <%= f.input :last_name, label: "Nom"%>
          <%= f.input :first_name, label: "Prénom"%>
          <%= f.input :email, label: "Email"%>
          <%= f.input :phone_number, label: "Téléphone (Optionnel)"%>
          <%= f.input :subject, label: "Sujet du message"%>
        </div>

        <div class="form__message">
          <%= f.input :content, label: "Message" %>
        </div>

        <div class="form__button">
          <%= button_tag(:div, type: 'submit', class: "button button--flex") do %>
            Envoyer un message <i class="far fa-paper-plane button__icon"></i>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
</section>
