<!--==================== NAVBAR ====================-->
<header class="header" id="header">
  <nav class="nav container">
    <%= link_to 'Fiden', root_path,class: 'nav__logo' %>
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list grid">
        <li class="nav__item">
          <%= link_to root_path, class: 'nav__link' do %>
            <i class="fas fa-home nav__icon"></i>ACCUEIL
          <% end %>
        </li>
        <li class="nav__item">
          <%= link_to projects_path, class: 'nav__link' do %>
            <i class="fa-solid fa-diagram-project nav__icon"></i>PROJETS
          <% end %>
        </li>
        <li class="nav__item">
          <%= link_to posts_path, class: 'nav__link' do %>
            <i class="fa-brands fa-microblog nav__icon"></i>BLOGS
          <% end %>
        </li>
        <li class="nav__item">
          <%= link_to new_contact_request_path, class: 'nav__link' do %>
            <i class="fas fa-address-book nav__icon"></i>CONTACT
          <% end %>
        </li>
      </ul>
      <i class="fas fa-times-circle nav__close" id="nav-close"></i>
    </div>
    <div class="nav__btns">
      <!-- Theme color switch -->
      <i class="far fa-moon change-theme" id="theme-button"></i>

      <div class="nav__toggle" id="nav-toggle">
        <i class="fas fa-cubes"></i>
      </div>
    </div>
  </nav>
</header>
